<form class="gh-form" data-members-form>
    <input class="gh-form-input" id="{{email_field_id}}" name="email" type="email" placeholder="輸入 Email 來訂電子報" required data-members-email>
    <button class="gh-button" type="submit" aria-label="Subscribe">
        <span><span>訂閱</span> {{> "icons/arrow"}}</span>
        {{> "icons/loader"}}
        {{> "icons/checkmark"}}
    </button>
    <p data-members-error></p>
</form>