{{!< default}}
{{!-- The tag above means - insert everything in this file into the {body} of the default.hbs template --}}

{{#tag}}
{{> header background=feature_image}} {{!--Special header.hbs partial to generate the <header> tag--}}
    <div class="inner">
        {{> "site-nav"}}
        <div class="site-header-content">
            <h1 class="site-title">{{name}}</h1>
            <h2 class="site-description">
                
                <div class="site-description-content">
                    {{description}}
                </div>
                <div class="site-description-tag-post-count">
                    共有 {{plural ../pagination.total empty='posts' singular='% 篇文章' plural='% 篇文章'}}
                </div>
                
            </h2>
        </div>
    </div>
</header>
{{/tag}}

{{!-- The main content area --}}
<main id="site-main" class="site-main outer">
    <div class="inner">
        <div class="post-feed">

            {{!-- 加上該 Tag 的置頂文章 --}}
            {{#get "posts" include="tags,authors" filter="featured:true+primary_tag:{{tag.slug}}" limit="all"}}
                {{#if posts}}
                    {{#foreach posts}}
                        {{> "post-card"}}
                    {{/foreach}}
                {{/if}}
            {{/get}}

            {{!-- 僅顯示沒有置頂的文章 --}}
            {{#foreach posts}}
                {{#unless featured}}
                    {{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
                    {{> "post-card"}}
                {{/unless}}
            {{/foreach}}

        </div>
    </div>
</main>
