.gh-content strong {
    text-decoration: none;
    white-space: nowrap;
    line-height: 22px;
    padding: 4px 2px 4px 2px;
    letter-spacing: 0;
    background: url("../custom/underline_yhl.gif") repeat-x bottom;
}
.gh-content em {
    text-decoration: none;
    font-style: normal;
    padding: 0 3px;
    padding-bottom: 3px;
    background: url("../custom/underline_hl.gif") repeat-x 120% 100%;
}

.gh-content s {
    text-decoration: none;
    padding: 0 3px;
    padding-bottom: 3px;
    background: url("../custom/underline_del.gif") repeat-x 120% 20%;
}

.gh-content mark {
    text-decoration: none;
    padding: 0 3px;
    padding-bottom: 3px;
    background: url("../custom/underline_cyc.gif") repeat-x -1% 130%;
    letter-spacing: 1px;
}

.custom-comments {
    margin-top: 30px;
    color: #444444;
    font-size: small;
}
.custom-comments a {
    background: white url("../custom/underline_yhl.gif") repeat-x bottom;
    color: black;
}

.gh-viewport .gh-article-title {
    font-size: calc(clamp(3.4rem, 1.36vw + 2.85rem, 4.6rem) * var(--factor, 0.7));
}

.gh-viewport .gh-article-excerpt {
    font-size: calc(clamp(1.5rem, 0.45vw + 1.32rem, 1.9rem) * var(--factor, 0.9));
    color: #555555;
}